<footer class="grid grid-cols-3 py-16">
  <div class="flex flex-col px-4">
    <h5 class="font-bold">À propos</h5>
    <p>Nulla do officia anim adipisicing velit nisi do cupidatat reprehenderit qui veniam cillum. Nulla sunt deserunt deserunt cillum laboris. Quis laborum in adipisicing eiusmod dolor duis culpa qui irure aliquip. Nisi sit dolor labore esse cupidatat laborum enim duis. Deserunt sit labore exercitation adipisicing qui aute id. Adipisicing veniam nostrud nulla quis laboris exercitation. Et sunt sint tempor sunt minim.</p>
  </div>
  <div class="flex flex-col px-4">
    <h5 class="font-bold">Nous suivre</h5>
    <ul class="flex flex-col">
      <li><a href="/">Discord</a></li>
      <li><a href="/">Instagram</a></li>
      <li><a href="/">Twitter</a></li>
    </ul>
  </div>
  <div class="flex flex-col px-4">
    <h5 class="font-bold">Ressources</h5>
    <ul class="flex flex-col">
      <li><a href="/">Accueil</a></li>
      <li><a href="/">Guides</a></li>
      <li><a href="/">Meetup</a></li>
    </ul>
  </div>
</footer>
