<footer class="grid grid-cols-3 px-52 py-16 bg-orange-200">
  <div class="flex flex-col px-4">
    <h5 class="font-bold">À propos</h5>
    <p>MKFR est un serveur Discord regroupant des passionnés de claviers mécaniques en France, offrant un espace d'échange, de partage et de découverte autour de cette passion.</p>
  </div>
  <div class="flex flex-col px-4">
    <h5 class="font-bold">Nous suivre</h5>
    <ul class="flex flex-col">
      <li><a href="/">Discord</a></li>
      <li><a href="/">Instagram</a></li>
      <li><a href="/">Twitter</a></li>
    </ul>
  </div>
  <div class="flex flex-col px-4">
    <h5 class="font-bold">Ressources</h5>
    <ul class="flex flex-col">
      <li><a href="/">Accueil</a></li>
      <li><a href="/">Guides</a></li>
      <li><a href="/">Meetup</a></li>
    </ul>
  </div>
</footer>
