---
import { Image } from "astro:assets";
import HeroImage from '../assets/IMG_3201.jpg'
---

<section id="hero" class="flex flex-col items-center py-16">
  <div>
    <h1 class="text-center text-4xl font-bold">Venez tatez de la touche</h1>
  </div>
  <div class="py-8">
    <Image src={HeroImage} alt="RetroVan macro image" width={720} class="max-h-[405px]">
  </div>
  <div>
    <h3 class="text-center text-2xl max-w-xl">Communauté d'échange et de partage autour du clavier mécanique en France</h3>
  </div>
</section>
