<section id="objectifs" class="flex flex-col items-center py-16">
  <h2 class="text-3xl font-bold">Objectifs</h2>
  <div class="grid grid-cols-3 pt-8">
    <div class="flex flex-col px-4">
      <h3 class="text-2xl font-bold text-center pb-2">Partage de connaissance</h3>
      <p>La communauté vise à rassembler les passionnés de claviers mécaniques pour partager leurs connaissances, expériences et conseils. Cela inclut des discussions sur les différents types de switches, les matériaux utilisés pour les keycaps, et les meilleures pratiques pour l'assemblage et la personnalisation des claviers mécaniques.</p>
    </div>
    <div class="flex flex-col px-4">
      <h3 class="text-2xl font-bold text-center pb-2">Organiser des rencontres</h3>
      <p>Organiser et promouvoir des événements, tels que des meetups et des ateliers, permet aux membres de se rencontrer en personne, d'échanger des idées, et de découvrir de nouveaux produits. Ces événements sont aussi l'occasion de tester des claviers et des composants que l'on ne peut pas facilement trouver dans les magasins.</p>
    </div>
    <div class="flex flex-col px-4">
      <h3 class="text-2xl font-bold text-center pb-2">Promouvoir les claviers mécaniques</h3>
      <p>La communauté s'efforce de sensibiliser davantage de personnes à la qualité et aux avantages des claviers mécaniques par rapport aux claviers traditionnels. Cela inclut la promotion de projets de groupes (group buys) pour des pièces spécifiques, la mise en avant de designers et fabricants locaux, ainsi que la création de contenu éducatif en français pour aider les nouveaux venus à se lancer dans le monde des claviers mécaniques.</p>
    </div>
  </div>
</section>
