---
import { getCollection } from "astro:content";
const allObjectives = await getCollection('objectives')
---

<section id="objectifs" class="flex flex-col items-center px-52 py-16 bg-orange-200">
  <h2 class="text-3xl font-bold">Objectifs</h2>
  <div class="grid grid-cols-3 pt-8">
    { allObjectives.map(objective =>(
      <div class="flex flex-col px-4">
        <h3 class="text-2xl font-bold text-center pb-2">{objective.data.title}</h3>
        <p>{objective.data.description}</p>
      </div>
    ))}
  </div>
</section>
